body {
  background-color: #4b3220;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  image-rendering: pixelated;
}

#buttons {
  padding-inline: 20px;
}

#centertextarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:#b4784b;
  color: #fff
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #6d492e;
  border: 2px;
  border-color: #966541;
  border-style: solid;
  padding-top: 20px;
}

.centeradvertisement {
  text-align: center;
}

.profile img {
	font-family: 'Windows';
	width: 450px;
	height: auto;
	display: block;
	margin: 0 auto 20px;
}

.profile h2 {
  font-family: 'Windows';
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
}

.description p {
  font-family: 'Windows';
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}
.description h2 {
  font-family: 'Windows';
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
}
@font-face {
    font-family: 'Windows';
    src: url('Windows.woff2') format('woff2'),
        url('Windows.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}