/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Reset some default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lexend', sans-serif; /* Apply Google Font to entire body */
  background: linear-gradient(to bottom right, #3A2A2D, #1A1214); /* Gradient background */
  color: #fff; /* Light text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent scrolling beyond viewport */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack cards vertically */
  padding: 0 1rem; /* Add padding to sides for better spacing */
}

.card {
  background-color: rgba(15, 12, 12, 0.85);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2em;
  padding: 2rem; /* Increase padding for better spacing */
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem; /* Add margin between cards */
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-picture {
  width: 180px; /* Increased profile picture size */
  height: 180px; /* Increased profile picture size */
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-info {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  max-width: 600px; /* Limit text width */
}

.name h1 {
  font-size: 2.5rem; /* Increased font size */
  margin-bottom: 0.5rem;
}

.description p {
  font-size: 1.4rem; /* Increased font size */
  color: #ccc;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  background-color: #271b1e;
  border: 2px solid #4f3137; /* Increase border thickness for better visibility */
  padding: 0.7rem 1.5rem; /* Increased padding */
  border-radius: 2em;
  margin: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.social-links a:hover {
  background-color: #3d282e;
}

/* Responsive Adjustments */
@media only screen and (max-width: 600px) {
  .card,
  .large-card {
    padding: 1rem;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
  }

  .name h1 {
    font-size: 1.8rem;
  }

  .description p,
  .text-wrapper p {
    font-size: 1.2rem;
  }

  .social-links a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
  }

  .image-wrapper {
    margin-right: 1rem;
  }
}
